{% extends "network/layout.html" %}

{% block body %}


<div id="app"></div>

<script type="text/babel">
    function Hello(props) {
        return(
            null
        );
    }
    function App() {
        return (
            
            <Hello name="MILOS"/>
           
        );
    }

    ReactDOM.render(<App />, document.querySelector("#app"));
</script>

    <h1>All Posts</h1>
    <div id = "post">
        
        <form method="post" >
            {% csrf_token %}
            <div class="form-row">
                <h5>Create New Post</h5>
            </div>
            <div class="form-row">
                <textarea name="post"type="text" cols="100" rows="5" placeholder="Type Your Post Here"></textarea>
            </div>
            
            <div class="form-row">    
                <input type="submit" class="btn btn-primary" Post>
            </div>
          </form>
    </div>
    
    {% include "network/tupleLayout.html" %}
{% endblock %}