{% extends "network/layout.html" %}
{% block body %}
<div class="container" id="post">
    <div class="row" >
        {{request.user.username}}
    </div>
    <div class="row" >
        {{request.user.email}}
    </div>
    <div class="row" >
        You Have {{followers|length}} Followers: 
        <br>
        {% for f in followers %}
            - {{f.user}}
            <br>
        {% endfor %}
    </div>
    <div class="row" >
        You are Following {{following|length}} Other Users: 
        <br>
        {% for f in following %}
            - {{f.follows}}
            <br>
        {% endfor %}
    </div>
    
</div>

{% include "network/postLayout.html" %}
{% endblock %}
