{% extends "network/layout.html" %}
{% block body %}
<div class="container" id="post">
    {% if user == request.user or not request.user.is_authenticated %}

    {% else %}

        <form method="post" >
            {% csrf_token %}
            <div class="form-row">    
                <button id="following" type="submit" class="btn btn-link"> {{text}} </button>
            </div>
        </form>
    {% endif %}
    <div class="row" >
        <br>
        <h6>{{user.username}}'s Profile</h6>
    </div>
    <div class="row" >
        {{user.email}}
    </div>
    <div class="row" >
        Has {{followers|length}} Followers: 
        <br>
        {% for f in followers %}
            - {{f.user}}
            <br>
        {% endfor %}
    </div>
    <div class="row" >
        Is Following {{following|length}} Other Users: 
        <br>
        {% for f in following %}
            - {{f.follows}}
            <br>
        {% endfor %}
    </div>
    
</div>
<br>
{% include "network/tupleLayout.html" %}
{% endblock %}
