{% extends "network/layout.html" %}
{% block body %}
<div class="container" id="post">
    {% if user == request.user %}

    {% else %}
        <form method="post" >
            {% csrf_token %}
            <div class="form-row">    
                
                <button id="following" type="submit" class="btn btn-link"> {{text}} </button>
            </div>
        </form>
    {% endif %}
    <div class="row" >
        {{user.username}}
    </div>
    <div class="row" >
        {{user.email}}
    </div>
    <div class="row" >
        You Have {{followers|length}} Followers: 
        <br>
        {% for f in followers %}
            - {{f.user}}
            <br>
        {% endfor %}
    </div>
    <div class="row" >
        You are Following {{following|length}} Other Users: 
        <br>
        {% for f in following %}
            - {{f.follows}}
            <br>
        {% endfor %}
    </div>
    
</div>

{% include "network/tupleLayout.html" %}
{% endblock %}
