<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% for tuple in tuples %}
    <div class="container" id="post">
        <div class="row" >
            <a href="{% url 'profile' tuple.0.creator.username %}">{{tuple.0.creator.username}}</a>
        </div>
 
        <div class="row" id="content" >
            {{tuple.0.content}}
            
        </div>
        <div class="row" >
            {{tuple.0.datetime}}
        </div>
        {% if tuple.0.creator == request.user %}
        <div class="row" >
            <a class="edit" data-postid={{tuple.0.id}} data-view={{htmlview}}>Edit</a>
        </div>
        {% endif %}
        <div class="likecontainer">
            <span>{{ tuple.1 }}</span>
            
            <img src={{tuple.2}} data-likecount={{tuple.1}} data-postid={{tuple.0.id}} class="likeimg" width="15px">
        </div>
    </div>

     <br>
     <br>
{% endfor %}